* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.644)),
    url(../eren.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 60px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

ul li.active a {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.logo img {
  margin-top: 15px;
  margin-left: 50px;
  float: left;
  width: 50px;
  height: auto;
}

.bagianMain {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
.bagianMain h1 {
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.bagianMain h3 {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.bagianMain .logoMain {
  position: absolute;
  top: 110%;
}
.bagianMain .logoMain a {
  color: white;
  margin-left: 0px;
  font-size: 20px;
}
.logoMain a:hover i.fab.fa-github {
  color: black;
}
.logoMain a:hover i.fab.fa-instagram {
  color: #C13584;
}
.logoMain a:hover i.fab.fa-youtube {
  color: red;
}
.bagianMain .btnHomepage{
  border: 1px solid white;
  background-color: #2b7d90;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0;
  margin-top: 20px;
  text-align: center;
  padding-top: 5px;
}
.bagianMain .btnHomepage:hover{
  background-color: #0087a6;
}
.profil img{
  position: absolute;
  top: -110%;
  left: 150%;
  width: 35%;
  border-radius: 50px;
}
.about-me {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}
span{
  color: #22C4E8;
}
.footerIndex{
  position: absolute;
  background-color: #22C4E8;
  height: 5px;
  width: 100%;
  left: 0%;
  bottom: 3%;  
}
.footerIndex .text-header{
  position: absolute;
  background-color: white;
  height: 17px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;  
}

.container-card {
  padding-top: 180px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.card {
  background-color: antiquewhite;
  border: 2px solid #22C4E8;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin-right: 15px ;
}
.title-card {
  margin-bottom: 5px;
  font-size: 20px;
}

.logo-card img {
  margin-top: 10px;
  width: 30px;
}